* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Open Sans", sans-serif;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #80808000;
  height: 800px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px grey;
}
p {
  display: inline;
  font-weight: lighter;
}
h2 {
  text-align: center;
  font-size: 50px;
  margin: 50px 0;
}

label {
  margin-left: 10%;
  display: block;
  font-weight: lighter;
}
input {
  padding: 5px;
  width: 70%;
  border-bottom: 2px solid #00bcd4;
  margin: 10px 0px 10px 30px;
  outline-style: none;
}

input[type="radio"] {
  width: 20%;
  height: 15px;
}

.submit {
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 900;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 75px;
  cursor: pointer;
  background: linear-gradient(to right, #d7eae5, #64c7cd);
}

.submit:hover {
  color: #ffffff;
  background: linear-gradient(to right, #a4c302, #d7f9fa);
}

.error {
  display: block;
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10%;
  font-size: 14px;
}

.error-input {
  border: 1px solid red;
}
