* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Open Sans", sans-serif;
  }
  
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #80808000;
    margin: 0 auto;
    height: 400px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px grey;
  }
  
  h2 {
    text-align: center;
    font-size: 40px;
    margin: 50px 0 30px;
  }
  
  label {
    margin-left: 20px;
    display: block;
    font-weight: lighter;
  }
  
  input {
    border-bottom: 2px solid #00bcd4;
    margin: 6px 0 10px;
    outline-style: none;
  }
  
  #password,
  #name {
    margin-left: 10%;
    width: 220px;
    height: 30px;
  }
  
  .submit {
    margin-top: 30px;
    margin-left: 60px;
    padding: 7px;
    width: 50%;
    border-radius: 10px;
    border: none;
    color: black;
    font-weight: 900;
    font-size: 20px;
    background: linear-gradient(to right, #d7eae5, #64c7cd);
  }
  
  .submit:hover {
    width: 60%;
    font-size: 30px;
    color: #ffffff;
    background: linear-gradient(to right, #97dbdf, #42b5be);
  }
  
  .error {
    display: block;
    color: red;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
  }